body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

#navigation {
    background-color: #4b6584;
    padding: 10px 0px 10px 0px;
}

#tagsbar {
    margin: 0px;
    font-size: 12px;
    font-style: italic;
}

#taglabel {
    border-radius: 5px;
}

#dot {
    font-size: 27px;
}

#tagsbar ul {
    margin-left: 2px;
}

#taglinks {
    font-weight: bold;
    font-size: 27px;
}

.menu a {
    color: #FFF;
}

.top-bar-left ul, li {
    background-color: #4b6584;
    margin-right: 15px;
}

.top-bar-right ul, li {
    background-color: #4b6584;
}

.callout h4 {
    font-family: 'Poppins', sans-serif;
}


#comments {
    border-radius: 15px;
}

#header {
    font-family: 'Roboto', sans-serif;
}

#com {
    margin-left: 10px;
    vertical-align: middle;
}