<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:fragment="head">

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate CMS</title>
    <script th:src="@{/vendor/jquery.js}"></script>
    <link rel="stylesheet" th:href="@{/foundation.css}"/>
    <link rel="stylesheet" th:href="@{/app.css}"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:900|Poppins" rel="stylesheet">
    <script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jQuery.dotdotdot/3.2.2/jquery.dotdotdot.js'></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


    <!--    Post editor and file upload codes-->

    <script>

        tinymce.init({
            selector: '#postfield',
            plugins: 'code, image',
            menubar: false,
            file_picker_types: 'file image media',
            image_title: true,
            automatic_uploads: true,
            file_picker_types: 'image',
            file_picker_callback: function (cb, value, meta) {
                var input = document.createElement('input');
                input.setAttribute('type', 'file');
                input.setAttribute('accept', 'image/*');
                input.onchange = function () {
                    var file = this.files[0];
                    var reader = new FileReader();
                    reader.onload = function () {
                        var id = 'blobid' + (new Date()).getTime();
                        var blobCache = tinymce.activeEditor.editorUpload.blobCache;
                        var base64 = reader.result.split(',')[1];
                        var blobInfo = blobCache.create(id, file, base64);
                        blobCache.add(blobInfo);
                        cb(blobInfo.blobUri(), {title: file.name});
                    };
                    reader.readAsDataURL(file);
                };

                input.click();
            }
        });

    </script>

    <!--End of post editor and file upload code-->


</head>



<div class="grid-container" th:fragment="navigation">
    <div class="grid-x grid-padding-x" style="margin-top: 50px;">
        <div class="large-12 cell">
            <h1>Ultimate CMS</h1>
            <div sec:authorize="!hasAnyAuthority('ADMIN', 'User')">
                <ul class="menu align-right">
                    <li style="border-top-right-radius: 10px; border-top-left-radius: 10px;"><a  data-open="loginmodal">Login</a></li><li style="margin-right: 0px; border-top-right-radius: 10px; border-top-left-radius: 10px;"><a data-open="signupmodal">Register</a></li>
                </ul>
            </div>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'User')">
                    <ul class="menu align-right">
                        <li style="border-top-right-radius: 10px; border-top-left-radius: 10px;"><a th:text="${#request.userPrincipal.name}"></a></li>
                    </ul>
                </div>
        </div>
    </div>

    <div class="reveal" id="loginmodal" data-reveal>
        <h1>Login</h1>
        <form autocomplete="off" class="form-signin" th:action="@{/login}" method="post">
            <label>Username:
            <input type="text" name="username" id="inputUsername" required>
            </label>
            <label>Password:
            <input type="password" name="password" id="inputPassword" required>
            </label>
            <button class="button" type="submit">Login</button>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="reveal" id="signupmodal" data-reveal>
        <h1>Create Account</h1>
        <form autocomplete="off" th:action="@{/signup}" method="post">
            <label>Username:
            <input type="text" name="username" required>
            </label>
            <label>Password:
            <input type="password" name="password" required>
            </label>
            <button class="button" type="submit">Register</button>
        </form>
        <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="top-bar" id="navigation" style="border-top-left-radius: 10px;">
        <div class="top-bar-left">
            <ul class="menu">
                <li><a href="/">Home</a></li>
                <li><a href="/archives">Archives</a></li>
                <div sec:authorize="hasAuthority('ADMIN')">
                <li><a href="/post">Add Post</a></li>
                </div>
            </ul>
        </div>
        <div class="top-bar-right">
            <ul class="menu">

                <form style="display: inline;" autocomplete="off" th:action="@{/archives}" method=POST>
                <input type="text" th:id="title" th:name="title" placeholder="Search...">
                <button style="display: inline; margin-right: 15px;" type="button" class="button">Search</button>
                </form>
                <div sec:authorize="hasAnyAuthority('ADMIN', 'User')">
                    <form style="display: inline;" th:action="@{/logout}" method="POST"><input type="submit" class="button" value="Logout"/></form>
                </div>
            </ul>
        </div>
    </div>


    </body>
</html>