<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<script th:src="@{/vendor/jquery.js}"></script>
<link rel="stylesheet" th:href="@{/foundation.css}"/>
<link rel="stylesheet" th:href="@{/app.css}"/>


</head>
<body>



<div style="margin-top: 120px; text-align: center;">


    <img src="/error.jpg" alt="Error 500"><br>
    <h4>Something went seriously wrong</h4><br>
    <span></span><a href="/"><button class="button" style="border-radius: 5px;">Go back home</button></a></span>



</body>
</html>
