<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/template :: head">

</head>
<body>

<div th:replace="/fragments/template :: navigation"></div>

    <div class="grid-x" data-equalizer="foo">
        <div class="cell medium-8">
            <div class="callout panel" style="border-bottom-left-radius: 15px" data-equalizer-watch="foo">

                <!--Add new post form-->

                <h1>Add Post</h1>
                <form th:action="@{/post}" th:object="${addpost}" method="POST">
                    <input type="text" th:field="*{title}" placeholder="Title">
                    <textarea id="postfield" rows="7" cols="50" th:field="*{text}" placeholder="Text"></textarea>
                    <input type="text" th:field="*{tags}" placeholder="Tags are separated with a /">
                    <button class="button large" type="submit">Post</button>
                </form>

                <!--end of post form-->

            </div>
        </div>

        <div th:replace="/fragments/popularpost :: popularposts"></div>

        <th th:replace="/fragments/footer :: footer"></th>

</body>
</html>
