<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/template :: head">

</head>
<body>

<div th:replace="/fragments/template :: navigation"></div>

<div class="grid-x" data-equalizer="foo">
    <div class="cell medium-8">
        <div class="callout panel" data-equalizer-watch="foo">


            <form th:action="@{/archives}" th:object="${addpost}" method="POST">
                <input type="text" th:field="*{title}" placeholder="Search by Name">
                <button class="button large" type="submit">Search by Name</button>
            </form>

            <form th:action="@{/archives/tags}" th:object="${addpost}" method="POST">
                <input type="text" th:field="*{title}" placeholder="Search by Tags. Separate tags by /">
                <button class="button large" type="submit">Search by Tag</button>
            </form>


            <tr th:each="post : *{showposts}">


                <div class="primary callout">
                    <a th:href="@{/post/{_id}/(_id=${post.id})}"><h4 th:text="${post.title}"></h4></a>
                    <h6 th:text="${#dates.format(post.date, 'dd/MM/yyyy HH:mm')}"></h6>
                </div>
            </tr>

        </div>
    </div>

    <div th:replace="/fragments/popularpost :: popularposts"></div>

    <th th:replace="/fragments/footer :: footer"></th>

</body>
</html>
