


<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="/fragments/template :: head">


</head>
<body>

<div th:replace="/fragments/template :: navigation"></div>

<div class="grid-x" data-equalizer="foo">
    <div class="cell medium-8" style="border-bottom-left-radius: 15px;">
        <div class="callout panel" style="border-bottom-left-radius: 15px" data-equalizer-watch="foo">

            <!--Get five posts to page (Latest first)-->


            <tr th:each="post, iStat : ${bookPage.content}"
                th:style="${iStat.odd}? 'font-weight: bold;'"
                th:alt-title="${iStat.even}? 'even' : 'odd'">
                <div class="primary callout" id="posts">
                    <a th:href="@{/post/{_id}/(_id=${post.id})}"><h4 th:text="${post.title}"></h4></a>
                    <p style="padding: 0;" th:text="${#dates.format(post.date, 'dd/MM/yyyy HH:mm')}"></p>
                    <div class="textpost">
                    <p style="font-size: 15px;" th:utext="${post.text}"></p>
                    </div>


                    <!--Edit / Delete button group-->

                    <div sec:authorize="hasAuthority('ADMIN')" class="tiny button-group" style="float: right;">
                        <a type="button" class="button tiny" th:href="@{/post/{_id}/edit/(_id=${post.id})}">Edit</a>
                        <a type="button" class="alert button tiny" th:attr="data-open=${post.id}">Delete Post</a>

                    </div>

                    <!--End of button group-->

                </div>


                <!--Confirmation window for delete post-->

                <div class="reveal" th:id="${post.id}" data-reveal>
                    <h4>Are you sure?</h4>

                    <a type="button" class="alert button" th:href="@{/post/delete/{_id}/(_id=${post.id})}">Delete
                        post</a>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <!--End of confirmation windows-->

            </tr>

            <nav aria-label="Pagination">
            <ul class="pagination" style="display: inline-block;" th:if="${bookPage.totalPages > 0}"
                 th:each="pageNumber : ${pageNumbers}">
                <li><a th:href="@{/(size=${bookPage.size}, page=${pageNumber})}"
                   th:text=${pageNumber}
                       th:class="${pageNumber==bookPage.number + 1} ? active"></a></li>
            </ul>
            </nav>

        </div>

    </div>

    <div th:replace="/fragments/popularpost :: popularposts"></div>


    <th th:replace="/fragments/footer :: footer"></th>

</body>
</html>
