<!doctype html>
<html class="no-js" lang="en" dir="ltr" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="/fragments/template :: head">

</head>
<body>

<div th:replace="/fragments/template :: navigation"></div>

<div class="grid-x" data-equalizer="foo">
    <div class="cell medium-8">
        <div class="callout panel" data-equalizer-watch="foo">

            <tr th:each="posts : *{showpost}">
                <div class="primary callout" id="posts">
                    <form th:action="@{/likes/{_id}(_id=${posts.id})}"
                          method="POST" style="float: right;">
                        <button class="button tiny" style="border-radius: 5px;" type="submit"><i class="far fa-thumbs-up"> <th th:text="${posts.likes}"></th></i></button>
                    </form>
                    <h4 th:text="${posts.title}"></h4>

                    <p th:utext="${#dates.format(posts.date, 'dd/MM/yyyy HH:mm')}"></p>
                    <p th:utext="${posts.text}"></p>
                    <p style="font-style: italic; font-size: 10px;" th:utext="${posts.modifiedDatetoDisplay}"></p>
                    <div id="tagsbar">
                        <ul style="display: inline;" th:each="tag : ${posts.tagit}">
                            <span class="label primary" id="taglabel" th:text="${tag}"></span>
                        </ul>
                    </div>



                </div>
                <div sec:authorize="hasAuthority('ADMIN')" class="tiny button-group" style="float: right;">
                    <a type="button" class="button tiny" th:href="@{/post/{_id}/edit/(_id=${posts.id})}">Edit</a>
                    <a type="button" class="alert button tiny" th:attr="data-open=${posts.id}">Delete Post</a>

                </div>

                <div class="reveal" th:id="${posts.id}" data-reveal>
                    <h4>Are you sure?</h4>

                    <a type="button" class="alert button" th:href="@{/post/delete/{_id}/(_id=${posts.id})}">Delete
                        post</a>
                    <button class="close-button" data-close aria-label="Close modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </tr>

            <tr th:each="posts : *{showpost}">
                <h4>Comments<span class="badge" id="com" th:text="${#lists.size(posts.comments)}"></span></h4>
            </tr>

            <tr th:each="comments :*{showcomments}">
                <div class="callout secondary" id="comments">
                    <p>Posted: <span th:text="${#dates.format(comments.posted, 'dd/MM/yyyy HH:mm')}"></span></p>
                    <blockquote><p th:text="${comments.comment}"></p></blockquote>
                    <p>Posted by: <span th:text="${comments.nickname}"></span></p>
                    <div sec:authorize="hasAuthority('ADMIN')" class="tiny button-group" style="float: right;">
                        <form th:action="@{/post/{_id}/comments/delete(_id=${postid})}" th:object="${deletecomment}"
                              method="POST">
                            <input type="hidden" th:id="id" th:name="commentId" th:value="${comments.id}">
                            <input type="hidden" name="nickname" th:value="${comments.nickname}">
                            <input type="hidden" name="comment" th:value="${comments.comment}">
                            <input type="hidden" name="postedDate" th:value="${comments.postedDate}">
                            <button class="button large" type="submit">Delete</button>
                        </form>
                    </div>
                </div>


            </tr>
            <div sec:authorize="hasAnyAuthority('ADMIN', 'User')">
                <h1>Add Comment</h1>
                <form th:action="@{/post/{_id}/comments(_id=${postid})}" th:object="${addcomment}"
                      method="POST">

                    <input type="hidden" class="form-control" th:id="kayttajaid" th:name="kayttajaid"
                           th:value="${#authentication.name}"/>
                    <input type="hidden" th:id="nickname" th:name="nickname" th:value="${#request.userPrincipal.name}"
                           placeholder="Nickname">
                    <input type="text" th:field="*{comment}" placeholder="Comment">
                    <button class="button large" type="submit">Post</button>
                </form>

            </div>
        </div>
    </div>

    <div th:replace="/fragments/popularpost :: popularposts"></div>


    <th th:replace="/fragments/footer :: footer"></th>

</body>
</html>
